@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.App {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  padding: 0;
}

button:hover:not([disabled]) {
  color: purple;
}

button:disabled {
  opacity: 0.85;
  cursor: not-allowed;
}

h1 {
  padding: 0;
  margin: 1rem 0;
  font-size: 3rem;
}

.react-icons {
  font-size: 2rem;
}

.react-icons:active {
  text-shadow: 0 0 10px black;
}

.length-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.length {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px 35px;
  border: 2px solid black;
  border-radius: 10px;
}

.length div {
  display: flex;
  align-items: center;
}

.length--counter {
  font-size: 2rem;
  width: 2.25rem;
  text-align: center;
}

.session {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.session h3 {
  margin: 0;
}

.timer {
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.timer-type {
  text-transform: capitalize;
}
